body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    background-color: rgb(170, 170, 170);
}

a{
    margin-bottom: 20px;
}

div{
    display: flex;
    flex-direction: column;
}


#structural li:last-child{
   color: blue;
}

#structural li a:only-child{
    color: green;
}

#structural li:first-child{
    font-weight: bold;
 }

#visit:visited{
    color: rgb(121, 130, 0);
}

#link:link{
     color: grey;
 }